#banner {
	width:100%;
	color: #555;	
}

.titulo-principal{
	display: inline-block;
	padding-left: 20px;
}
nav{
	display: inline-block;
}
nav a{
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	}
.container{
	display: flex;
}
.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic
}

.beneficios {
	background: rgb(2,0,36);
	background: linear-gradient(360deg, rgba(2,0,36,1) 17%, rgba(1,136,176,1) 33%, rgba(0,195,237,1) 40%, rgba(3,200,246,1) 45%, rgba(32,103,173,1) 52%, rgba(48,48,131,1) 56%, rgba(48,48,131,1) 61%, rgba(48,48,131,1) 68%, rgba(48,48,131,1) 77%); 
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}